[user]
	name = Josh Faul
	email = josh.faul@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[branch]
	autosetuprebase = remote

[color]
	ui = auto

[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	cia = commit -a
	cam = commit -am
	br = branch
	sta = stash
	ls = ls-remote .
	pu = push
	pom = push origin master
	logp = log --pretty='%h - %s'
	unstage = reset HEAD --
	softrm = rm --cached --
	last = log -1 HEAD
	mine = !git log --author=`git config user.email`
	difforigin = diff origin/master --name-only
