/* link to ~/Library/Application Support/Google/Chrome/Default/User Stylesheets/Custom.css */

#-webkit-web-inspector {}

#-webkit-web-inspector .monospace,
#-webkit-web-inspector .source-code {
	font-size: 9px !important;
}

#-webkit-web-inspector #toolbar {
	height: 32px !important;
}

#-webkit-web-inspector #toolbar .toolbar-icon {
	width: 16px !important;
	height: 16px !important;
	background-size: 128px 32px;
	margin-top: 4px;
}

#-webkit-web-inspector #toolbar .toolbar-label {
	display:  none;
}

#-webkit-web-inspector #main {
	top: 32px !important;
}
